html, body {
	height: 100%;
}

.head{
	height: 12%;
}

.row{
	width: 100%;
	margin: 0;
}

.hei{
	height: 90%;
}

#header{
	background-color: #980000; 
}

#left{
	float: left;
	background-color: #EDA900;
	width: 10%;
	height: 100%;
}

#right{
	float: right;
	background-color: #DB0000;
	width: 90%;
	height: 100%;
}